/* ShowPostSummary.css */
.post-summary-container {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.post-summary {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 1vh;
}

.post-details {
    display: flex;
    flex-direction: column;
    color: black;
}

.name {
    margin-right: 10px; /* Added margin property */
}
.caption {
    margin-right: 10px; /* Added margin property */
    height: 33vh;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-end;
}

.tag-pill {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.date {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
}

.tag-pill:hover {
    background-color: #f1f1f1;
}


.icon {
    color: #710808;
}