.comment{
    background-color: var(--icons-background-color);
}

.add-comment{
    border-radius: 4px;
   background-color: var(--neutral-color);
   margin: 5px;
   padding: 0.5em;
   display: inline-flex;
   align-items: baseline;
   width: 85%;
}

.comment-box{
    border-radius: 4px;
    background-color: var(--neutral-color);
    height: 2 vh;
    border: none;
    align-items: center;
    
}

.new-comment{
    display: flex;
    align-items: center;
}

.fa-plus{
    color: var(--secondary-background-color); 
    margin-left: 0.25em;  
    cursor: pointer;
}

.upvote-downvote{
    display: flex; 
    font-size: 1.5em;
    
}
.fa-circle-arrow-up, .fa-circle-arrow-down{
    padding: 0.25em;
    cursor: pointer;
}

.comment-details{
    background-color: var(--neutral-color);
    border-radius: 4px;
    
}

.comment-user{
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.comment-date{
    display: flex;
}

.comment-text{
    margin: 2px;
}