.post-details{
    position: relative;
    width: 100%;
}

.name {
    margin-right: 10px; /* Added margin property */
}
.caption {
    margin-right: 10px; /* Added margin property */
    height: 15vh;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-end;
}

.tag-pill {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.date {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
}

.tag-pill:hover {
    background-color: #f1f1f1;
}


.icon {
    color: #710808;
}

.edit-post{
    color: #710808;
    margin: 10px;
}