.userProfileSection{
    height: 80vh;
    width: 29%;
    position: fixed;
    left: 0px;
    border-radius: 8px;
    background: #D9D9D9;
    margin: 9px 6px 0px 6px;
}

.postSection{
    height: 80vh;
    width: 69.5%;
    position: fixed;
    right: 0px;
    border-radius: 8px;
    background: #D9D9D9;
    margin: 9px 6px 0px 6px;
    overflow: auto;
}

.tabContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4px;
    font-weight: bold;
}

.tab {
    width: 50%;
    background-color: #FFFFFF;
    color: #710808;
    padding: 10px 20px;
    border: 2px solid #710808;
    cursor: pointer;
    text-align: center;
}

.selectedTab {
    background-color: #710808;
    color: #FFFFFF;
}

.unselectedTab {
    background-color: #FFFFFF;
    color: #710808;
}
